input.txt
output.txt
# C++ compiled files
*.o
*.out
*.exe

# Default Mac executable from clang++/g++
a.out

# Any executable with no extension
*/.DS_Store
**

# Ignore all executables (no file extension)
# (Git trick: ignore files with no dot in the filename)
*.[!a-zA-Z0-9]*

# macOS debug symbol files
*.dSYM/