input.txt
output.txt
# Object files
*.o

# Default executable
a.out

# macOS debug directories
*.dSYM/

# Ignore all executables (no file extension)
# Example: "myProgram", "run", etc.
*
!.*/
!.gitignore
*.cpp
*.h